<style>
    
    #toc-toggle {
      cursor: pointer;
      color: #2962ff;
    }
    #toc-toggle:hover {
      text-decoration: underline;
    }
  </style>
  목차 [<span class="toc-toggle" onclick="openCloseToc()" class="fas">보이기</span>]
  <ol class="toc-content" style="display: none;">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ol>
  <script>
    function openCloseToc() {
      if(document.getElementsByClassName('toc-content')[0].style.display === 'block') {
        document.getElementsByClassName('toc-content')[0].style.display = 'none';
        document.getElementsByClassName('toc-toggle')[0].textContent = '보이기';
      } else {
        document.getElementsByClassName('toc-content')[0].style.display = 'block';
        document.getElementsByClassName('toc-toggle')[0].textContent = '숨기기';
      }
    }
  </script>